body {
  margin: 0%;
  padding: 0%;
  text-align: center;
  font-family: Merriweather, serif;
}

.top {
  padding-top: 220px;
  background-color: #def9f0;
  position: relative;
}

.middle{
  margin: 100px 0;
}

.img1 {
  position: relative;
  left: 15rem;
  top: -7rem;
}

.akash{
  color: #66BFBF;
  font-size: 5.625rem;
  margin: -50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

/* .car{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
} */

.img2 {
  position: relative;
  left: -20rem;
  top: -2rem;
}
.img3 {
  width: 130px;
  height: 8rem;
  border-radius: 90%;
}

.parent{
  width: 75%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.img4 {
  position: relative;
  left: 10rem;
  width: 20%;
  float: left;
  margin-right: 220px;
}
.text {
  text-align: left;
  font-size: 16px;
  width: 53%;
  font-family: Merriweather, serif;
  line-height: 30px;
  font-weight: 800;
  margin: auto;
}
.design{
  color: #73e1bd;
}

.hello {
  font-size: 40px;
  color: #0f83a4;
}
.Intro {
  font-size: 20px;
  width: 35%;
  margin: auto;
  color: #1ee166;
  font-weight: 700;
}

h2 {
  color: #73e1bd;
  font-size: 25px;
  font-weight: 700;
}


.car {
  color: #fc1616;
  font-size: 40px;
  font-weight: 700;
}

.child{
  width: 75%;
  margin: 100px auto 100px auto;
  text-align: right;
}

.img5{
  position: relative;
  left: 3rem;
  width: 20%;
  float: right;
  margin-right: 220px;
}

.paragraph{
  font-size: 16px;
  width: 53%;
  font-family: Merriweather, serif;
  line-height: 30px;
  font-weight: 800;
  margin: auto;
  padding-bottom: 20%;
}
.hot{
  color: #73e1bd;
}

.btn {
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.bottom-container{
  margin-top: 5rem;
    background-color: #66BFBF;
    padding: 70px 0 50px;
  }

  .link{
    padding-right: 30px;
    padding-bottom: 40px;
    font-weight: 800;
    text-decoration: none;
  }

  .git{
    font-weight: 800;
    text-decoration: none;
  }

  .AD{
    padding-top: 20px;
  }



@media screen and (max-width : 800px){
  .img1 {
    width: 8rem;
    position: relative;
    left: 10rem;
  }

  .img2 {
    width: 8rem;
    position: relative;
    top: -.5rem;
    left: -10rem;
  }
  .img3 {
    padding: 100px;
    width: 140px;
    height: 8rem;
    border-radius: 90%;
  }

  .Intro {
    font-size: 15px;
    width: 40%;
    margin: auto;
    color: #73e1bd;
    font-weight: 700;
  }

  .middle{
    margin: 0;
  }


  .img4 {
    position: relative;
    left: 10rem;
    width: 25%;
    float: left;
    margin-right: 220px;
    padding-bottom: 30px;
  }
  .text {
    font-size: 16px;
    width: 53%;
    font-family: Merriweather, serif;
    line-height: 30px;
    font-weight: 800;
    margin: auto;
  }
  .design{
    margin-left: 1.5rem;
    text-wrap: wrap;
  }
  .img5{
    position: relative;
    width: 25%;
    float: right;
    margin-right: 220px;
    padding-bottom: 30px;
  }
  
  .paragraph{
    font-size: 16px;
    width: 53%;
    font-family: Merriweather, serif;
    line-height: 30px;
    font-weight: 800;
    margin: auto;
  }
}


@media screen and (max-width : 500px){
  .top{
    width: 33rem;
  }

  .middle{
    width: 30rem;
  }

  .bottom-container{
    width: 33rem;
  }

  .contact-me{
    margin-left: 7rem;
    width: 15rem;
    font-size: 5px;
  }
  .img1 {
    width: 6rem;
    position: relative;
    left: 6rem;
  }

  .img2 {
    width: 6rem;
    position: relative;
    top: -.4rem;
    left: -4rem;
  }

  .img3 {
    padding: 100px;
    width: 120px;
    height: 7rem;
    border-radius: 90%;
  }

  .Intro {
    font-size: 15px;
    width: 70%;
    margin: auto;
    color: #73e1bd;
    font-weight: 700;
  }

  .middle{
    margin: 0;
  }

  .akash{
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    margin-top: -2rem;
  }

  
  .img4 {
    position: relative;
    left: 6rem;
    width: 50%;
    float: left;
  }

  .text {
    font-size: 16px;
    width: 90%;
    font-family: Merriweather, serif;
    line-height: 30px;
    font-weight: 800;
    margin: 20px auto;
    text-align: left;
  }

  .img5{
    position: relative;
    left: 8rem;
    width: 50%;
    float: right;
  }
  
  .paragraph{
    font-size: 16px;
    width: 90%;
    font-family: Merriweather, serif;
    line-height: 30px;
    font-weight: 800;
    margin: auto;
  }

  .hot{
    margin-right: 1.5rem;
  }

  .link{
    margin-left: -5rem;
  }

  .AD{
    margin-left: -5rem;
  }


}

@media screen and(max-width : 1200px) {
  .Intro {
    font-size: 15px;
    width: 70%;
    margin: auto;
    color: #73e1bd;
    font-weight: 700;
  }
}
